
<h2>What did you catch?</h2>

<h2>Enter the Deets</h2>
<%=label_tag "Location" %>

<br>
  <%= text_field_tag "location","", placeholder: "Location", rows: 20 %>
<br>
<%=label_tag "Species" %>
<br>
  <%= text_field_tag "species", "", placeholder: "Species"%>
<br>
<%=label_tag "Length" %>
<br>
  <%= text_field_tag "length", "", placeholder: "Length" %>
<br>
<%=label_tag "Weight" %>
<br>
  <%= text_field_tag "weight", "", placeholder: "Weight" %>
<br>
<%=label_tag "Bait" %>
<br>
  <%= text_field_tag "bait", "", placeholder: "Bait" %>
<br>
<%=label_tag "Depth" %>
<br>
  <%= text_field_tag "depth", "", placeholder: "Depth"%>
<br>
<%=label_tag "Temperature" %>
<br>
  <%= text_field_tag "temperature", "", placeholder: "Temperature" %>
<br>
<%=label_tag "Other Notes" %>
<br>
  <%= text_field_tag "other_notes", "", placeholder: "Other Notes" %>
<br>





<h2>Take a Picture!</h2>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-camera"></span> Picture
</button>

<h2>Mark Your GPS Location</h2>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Location
</button>

<h2>Upload Fish</h2>
<%= submit_tag "Upload Fish" %>



