<%= form_for @profile, :url => "/edit_profile/#{@user.username}", :html => { :multipart => true } do |form| %>
 

<%= form_tag "/edit_profile/#{@user.username}",html: { multipart: true } do %>
<h1> Alright <%=@user.username%>, let's edit your profile. </h1>

<div class="form-group">
  <%= label_tag "Upload a profile pic" %>
  <%= form.file_field :avatar %>
</div>

<div class="form-group">
  <%= label_tag "Where are you located?" %>
  <%= text_field_tag "location", @profile.location, class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag "Birth Year" %>
  <%= text_field_tag "birth_year", @profile.birth_year, class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag "Favorite Target Species"%>
  <%= text_field_tag "favorite_target", @profile.favorite_target, class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag "Best Catch"%>
  <%= text_field_tag "best_catch", @profile.best_catch, class: "form-control"  %>
</div>
<div class="form-group">
  <%= label_tag "About You" %>
  <%= text_area_tag "short_bio", @profile.short_bio, class: "form-control" %>
</div>



<div class="form-group">
<%= submit_tag "Update", class: "btn btn-primary" %>
</div>
<%end%>
<%end%>