<%= form_tag "/sign_up" do %>

<head>
<% if current_user != nil %>
<%= error_messages_for current_user %>
<%end%>

</head>
<h1>Sign Up</h1>
<body>

<div class="form-group">
  <%= label_tag "username" %>
  <%= text_field_tag "username", "", class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag "email" %>
  <br>
  <%= text_field_tag "email", "", class: "form-control" %>
</div>

<div class="form-group">
<%= label_tag :password %><br>
<%= password_field_tag :password,"", class: "form-control" %><br>
</div>

<div class="form-group">
<%= label_tag :password_confirmation %><br>
<%= password_field_tag :password_confirmation,"", class: "form-control" %><br>
</div>


<div class="form-group">
  <%= submit_tag "Sign Up", class: "btn btn-primary" %>
</div>


</body>
<%end%>