<%= form_for @profile, html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Profile Pic" %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :birth_year %><br>
    <%= f.text_field :birth_year, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :favorite_target %><br>
    <%= f.text_field :favorite_target, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :best_catch %><br>
    <%= f.text_field :best_catch, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :short_bio %><br>
    <%= f.text_field :short_bio, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
