<!DOCTYPE html>
<html>
<head>



  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/

minified/jquery-ui.min.css" type="text/css" media="all">
</head>
<body>

  <%= render 'layouts/header' %>
  <div class="container">
   <%= yield %>
 </div>

 <% if flash[:success] != nil %>
<div class="alert alert-danger">
  <%= flash[:success] %>
</div>

<% if flash[:remind_to_verify_email] %>
  <div class="alert alert-info">
    Please click the link in the email you were sent to verify your email address.
    <%= form_tag resend_verification_email_path do %>
      <%= hidden_field_tag :afterwards_go_to, request.path_info %>
      <%= submit_tag "Resend email" %>
    <% end %>
  </div>
<% end %>
<%end%>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" 

type="text/javascript"></script>

<script>

 $(function() {

 $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });

 });

</script>

</body>

<% if flash[:error] != nil %>
<div class="alert alert-danger">
  <%= flash[:error] %>
</div>
<% end %>
<% if flash[:error2] != nil %>
<div class="alert alert-danger">
  <%= flash[:error2] %>
</div>
<%end%>
</html>