<%= image_tag @fish.image.url(:medium) %>

<p>
  <strong>Location:</strong>
  <%= @fish.location %>
</p>

<p>
  <strong>Species:</strong>
  <%= @fish.species %>
</p>

<p>
  <strong>Lenth:</strong>
  <%= @fish.lenth %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @fish.weight %>
</p>

<p>
  <strong>Bait:</strong>
  <%= @fish.bait %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @fish.depth %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @fish.temperature %>
</p>

<p>
  <strong>Other notes:</strong>
  <%= @fish.other_notes %>
</p>

<% if @user.id != nil && @user.id == @fish.user_id %>
<%= link_to 'Edit', edit_fish_path(@fish) %> |
<%end%>
<%= link_to 'Back', fish_index_path %>
